@model AT_SQL.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do livro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capa)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Capa)" width="200em" height="200em" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resenha)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index"><btn class="btn btn-outline-danger" style="margin-top:7px">Voltar</btn></a>
</div>